<div class="contact-edit">
  <div>
    <label>First Name</label>
    {{input value=firstName}}
  </div>

  <div>
    <label>Last Name</label>
    {{input value=lastName}}
  </div>

  <div>
    <label>Email</label>
    {{input value=email }}
  </div>

  <div>
    <label>Title</label>
    {{input value=title}}
  </div>

</div>

<button {{action 'save'}}>Save</button>
